# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/*.iml
/protobuf/HelloWorld.pb.go
/protobuf/HelloWorld_grpc.pb.go
/client/client
/server/server
